.hstack {
    width: 92%;
    background-color: #fff;
}

.hstack a {
    color: rgb(129, 129, 129);
}

.hstack a:active {
    border-bottom: 2px outset black;
    color: black;
}

.products .brd-bottom {
    border-bottom: 1px outset rgba(215, 215, 215, 0.332);
    width: 85%;
}