<div *ngIf="product.length > 0; else noProducts">
  <ng-template [ngTemplateOutlet]="productList"></ng-template>
</div>

<ng-template #productList>
  <div *ngFor="let product of product" class="products-card">
    <div *ngIf="product.isActive">
      <div style="padding-top:50px;">
        <a  class="d-flex justify-content-start text-dark" href="#">
          <img class="rounded-circle" width="30px" height="30px" src="{{ product.authorImgUrl }}" alt="">
          <div class="d-flex" style="margin-top: 6px; margin-left: 8px;">
              <h2 style="font-size: 14px;font-weight: 600;"> {{ product.author }} <i class="bi bi-medium text-primary"></i></h2>
              <span class="mx-2" style="font-size: 14px; color: #757575;"> {{ product.postDate }} </span>
          </div>
          <div *ngIf="product.isMember" class="d-flex" style="margin-top: 6px; margin-left: 8px;">
            <h2 style="font-size: 14px;font-weight: 400;color: #757575;">
              <i class="bi bi-stars text-warning" style="margin-right: 5px;"></i>Member-only
            </h2>
          </div>
        </a>
      </div>
      <div class="row products">
        <div class="col-8">
          <h3 class="fs-4 fw-bold"> {{ product.title }} </h3>
          <p class="fs-7 fw-light text-secondary">
            {{ product.description }}
          </p>
          <div class="d-flex justify-content-between mt-4">
            <div>
              <a href="#" class="text-secondary">
                <span class="fs-6 fw-light">3 min read</span>
                <span class="mx-2 fs-5">.</span>
                <span class="fs-6 fw-light">Based on your reading history</span>
              </a>
            </div>
            <div>
              <a href="#"><i class="bi bi-bookmark text-secondary fs-5"></i></a>
              <a href="#"><i class="bi bi-dash-circle-dotted text-secondary fs-5 mx-3"></i></a>
              <a href="#"><i class="bi bi-three-dots text-secondary fs-5"></i></a>
            </div>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <img width="122px" height="122px" src="{{ product.postImgUrl }}" alt="">
        </div>
        <div style="height: 50px; border-bottom: 1px outset rgba(225, 225, 225, 0.495);width: 91%;"></div>
      </div> 
    </div>   
  </div>
</ng-template>

<ng-template #noProducts>
  <div class="alert alert-danger" >
    No products
  </div>
</ng-template>